// Custom common variables
@import '../../app-variables';

// Custom styles
$text-primary-font-size: $base-font-size + 2;
.car-list {
    font-size: $base-font-size;

    .car-list-even,
    .car-list-odd {
        padding: 10 15;
        border-bottom-width: $border-width;
        border-color: $blue-20;
        font-size: $base-font-size;

        label {
          font-size: $base-font-size;  
        }

        .text-primary {
           font-size: $text-primary-font-size; 
        }
    }

    .car-list-odd {
        background-color: $blue-10;
        color: $blue-50;
    }

    .car-list-price {
        width: 35;
        text-align: right;
    }

    TextField.ng-invalid {
        placeholder-color: $error;
    }
 
    .ng-invalid-image {
        color: $error;
    }
}