// Colors
$background-dark: #F8F8F8 !default;
$background-light: #FFFFFF !default;

$blue-dark: #022734 !default;
$blue-light: #02556E !default;
$blue-50: rgba($blue-dark, 0.5) !default;
$blue-20: rgba($blue-dark, 0.2) !default;
$blue-10: rgba($blue-dark, 0.1) !default;

$accent-dark: #3A53FF !default;
$accent-light: #4781FE !default;

$success-dark: #06CE6A !default;
$success-light: #00E676 !default;

$warning-dark: #f39c11 !default;
$warning-light: #F2C112 !default;

$error-dark: #D84039 !default;
$error-light: #ED473F !default;

$midnight-dark: #0F336D !default;
$midnight-light: #14418B !default;

$night-dark: #023141 !default;
$night-light: #01526C !default;

// Sizes
$button-height: 36 !default;
$small-button-height: 28 !default;

$border-width: 1;
$border-radius: 3;

$base-font-size: 11;

/**
 * Theme variables overrides
 **/
$error: $error-light;

// ActionBar
$ab-background: $accent-dark;
$ab-color: $background-light;
$ab-color-50: rgba($ab-color, 0.5) !default;

$item-active-color: $accent-dark;
$item-active-icon-color: $accent-dark;
$item-active-background: $background-dark;

$accent: $accent-dark;

//Text colors
$headings-color: $blue-dark;
$secondary: $blue-dark;
$text-color: $blue-dark;
$btn-color: $accent-dark;