lerna-debug.log
npm-debug.log
package-lock.json
.DS_Store

packages/**/App_Resources
packages/**/hooks
packages/**/.editorconfig
packages/**/tools
!packages/**/tools/assets
apps/

hooks/*
node_modules/
platforms/
tmp/
typings/
*.tgz

.idea
.cloud
.project
.vscode
