// Custom common variables
@import '../../../app-variables';

// Custom styles
.thumb {
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 25;
    font-weight: bold;
    
    .thumb-add {
        background-color: transparent;
        color: $blue-20;
        border-radius: $border-radius;
        border-width: $border-width;
        border-color: $blue-20;
    }

    .thumb-remove {
        color: $background-light;
        background-color: $blue-20;
    }
}