@import 'tabs-common';

// Place any CSS rules you want to apply only on Android here
TabView {
    tab-text-color: $blue-dark;
    selected-tab-text-color: $blue-dark;
    android-selected-tab-text-color: $blue-dark;
    android-selected-tab-highlight-color: $item-active-color;
}