@import '@nativescript/theme/scss/variables/blue';

.car-list,
:host-context(.ns-dark) .car-list {
  &-even,
  &-odd {
    padding: 10 15;
    margin: 0;
    margin-bottom: 0;
    border-bottom-width: const(border-width);
    @include colorize($border-color: background-alt-20);
  }

  &-odd {
    @include colorize($background-color: background-alt-10, $color: secondary);
  }

  &__value {
    width: 65;
    text-align: right;
    @include colorize($contrasted-color: complementary background 30% 10%);
  }

  Slider {
    @include colorize(
      $contrasted-background-color: complementary background 20% 0%,
      $contrasted-color: complementary background 20% 0%
    );
  }
}
