// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example '~nativescript-theme-core/scss/dark'.
@import '~nativescript-theme-core/scss/light';
// Custom common variables
@import '../../../app-variables';

// Custom styles
.thumb {
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 20em;
    
    .thumb-add {
        background-color: transparent;
        color: $blue-20;
        border-radius: $border-radius;
        border-width: $border-width;
        border-color: $blue-20;
    }

    .thumb-remove {
        color: $background-light;
        background-color: $blue-20;
    }
}