// Start custom common variables
@import '../../../app-variables';
// End custom common variables
// Custom styles
.list-modal-view {
    color: $blue-dark;
    background-color: $blue-10;
    
    .list-modal-item {
        vertical-align: center;
        font-size: $base-font-size;
        margin-bottom: 5;
    }
}