/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/

@import 'nativescript-theme-core/css/core.light.css';

/* Override the theme's text-primary color (with the same color) to take priority for h1-6 classes. */
.text-primary {
    color: #30bcff;
}
/* End overrides */

.btn[isEnabled=false] {
    color: #808080;
    background-color: transparent;
    border-color: #d8d4d4;
}

.fa {
    font-family: "FontAwesome";
}

.f-s-100 {
    font-size: 100;
}

.btn-margin {
    margin: 0 5 0 5;
}