.headerImage {
    margin: 20;
    height: 120;
    animation-name: headerImageSlideAnimation;
    animation-duration: 0.4;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes headerImageSlideAnimation {
    from {
        transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
    }
}