.mainHeader {
    background-color: rgb(245, 241, 241);
}

.careTeamItemAvatar {
    width: 36;
    color: white;
    background-color: gray;
}

.inboxItemAvatar {
    font-size: 24;
    vertical-align: top;
}