.mainHeader {
    background-color: rgb(245, 241, 241);
}

.listHeader {
    background-color: rgb(238, 238, 238);
    color: gray;
}

.careTeamItemAvatar {
    width: 35;
    color:white;
    background-color: gray;
}