// Start custom common variables
@import '~@nativescript/theme/scss/variables/blue';
// End custom common variables
// Custom styles
.fas {
    @include colorize($color: accent);
}
.info {
    font-size: 20;
    horizontal-align: center;
    vertical-align: middle;
}
