// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example '~nativescript-theme-core/scss/dark'.
@import '~nativescript-theme-core/scss/light';
// Start custom common variables
@import '../../../app-variables';
// End custom common variables
// Custom styles
.list-modal-view {
    color: $blue-dark;
    background-color: $blue-10;
    
    .list-modal-item {
        vertical-align: center;
        font-size: $app-font-size;
    }
}