@import '~@nativescript/theme/scss/variables/blue';

// Custom styles
.car-list {

    .car-list-even,
    .car-list-odd {
        padding: 10 15;
        margin: 0;
        border-bottom-width: const(border-width);
        @include colorize($border-color: background-alt-20);
    }

    .car-list-odd {
        @include colorize($background-color: background-alt-10);
        @include colorize($color: secondary);
    }

    .car-list-price {
        width: 35;
        text-align: right;
    }

    TextField.invalid-text {
        @include colorize($placeholder-color: error);
    }
}

.thumb {
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 25;
    font-weight: bold;

    .thumb-add {
        background-color: transparent;
        border-radius: const(border-radius-sm);
        border-width: const(border-width);
        @include colorize(
            $border-color: background-alt-20,
            $color: background-alt-20
        );
    }

    .thumb-remove {
        @include colorize(
            $background-color: primary-accent,
            $color: background
        );
    }
}
