@import '@nativescript/theme/scss/variables/blue';

// Custom styles
.car-list {
  &-even,
  &-odd {
    padding: 10 15;
    margin: 0;
    border-bottom-width: const(border-width);
    @include colorize($border-color: background-alt-20);
  }

  &-odd {
    @include colorize($background-color: background-alt-10, $color: secondary);
  }

  &__value {
    width: 65;
    text-align: right;
    @include colorize($contrasted-color: complementary background 30% 10%);
  }

  TextField.placeholder-error {
    @include colorize($placeholder-color: error);
  }

  Slider {
    @include colorize(
      $contrasted-background-color: complementary background 20% 0%,
      $contrasted-color: complementary background 20% 0%
    );
  }
}

.thumb {
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 25;
  font-weight: bold;

  &__add {
    background-color: transparent;
    border-radius: const(border-radius-sm);
    border-width: const(border-width);
    @include colorize($border-color: background-alt-20, $color: background-alt-20);
  }

  &__remove {
    background-color: rgba(grey, 0.5);
    @include colorize($color: background);
  }
}
