/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

/* Common */
.fa {
    font-family: "FontAwesome";
}
.page {
    background-color: #ffffff;
    color: #000000;
    flex-direction: column;
    align-items: center;
}

.btn {
    color: #ffffff;
    background-color: #3C59FD;
    margin: 20 0 30 0;
}

.btn:highlighted {
    background-color: #2241F0;
}

.flexbox-item {
    width: 95%;
    text-align: center;
}
.action-bar{
    background-color: #3C59FD;
    color: #ffffff;
    padding-right: 10;
}
.content {
    margin-bottom: 4;
}
.hr {
    background-color: #3C59FD;
    width: 95%;
    margin-top: 25;
    margin-bottom: 20;
    height: 1;
}

/* Login */
.page-login-container {
    background-color: #3C59FD;
}
.page-login {
    background-color: #3C59FD;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    color: #ffffff;
    flex-direction: column;
    align-items: center;
}
.company-name-container {
    height: 30%;
}
.company-name{
    margin-top: 60;
}

.company-logo {
    flex-grow: 1;
}

.login-text {
    margin-top: 60;
}

.btn-login {
    color: #000000;
    background-color: #ffffff;
}

.btn-login:highlighted {
    background-color: #EAEAEA;
    color: #000000;
}

/*  Welcome */

.title {
    color: #3C59FD;
    margin-top: 20;
}
.menu-group {
    flex-direction: row;
}
.menu{
    flex-direction: column;
    flex-grow: 1;
    orientation: horizontal;
}
.menu-item {
    margin-bottom: 20;
    width: 49%;
}
.menu-icon {
    margin-top: 10;
    width: 90;
    height: 90;
    border-width: 1;
    border-radius: 90;
    font-size: 36;
    color: #3C59FD;
    background-color: #ffffff;
    border-color: #d8d8d8;
}

.action-button{
    font-size: 20;
}