// Custom common variables
@import '../../app-variables';

// Custom styles
.car-list {

    .car-list-even,
    .car-list-odd {
        padding: 10 15;
        border-bottom-width: $border-width;
        border-color: $blue-20;
    }

    .car-list-odd {
        background-color: $blue-10;
        color: $blue-50;
    }

    .car-list-price {
        width: 35;
        text-align: right;
    }

    TextField.ng-invalid {
        placeholder-color: $error;
    }
 
    .ng-invalid-image {
        color: $error;
    }
}