.central-indicator {
    horizontal-align: center;
    vertical-align: center;
}

.in-progress {
    /* font-size: 48px; */
    font-size: 42.5%;
    color: #ed3f40;
}

.completed {
    /* font-size: 138px; */
    font-size: 36%;
    color: #ed3f40;
}

/* .completed {
    font-size: 102px;
    color: #ffffff;
    background-color: #ed3f40; 
    clip-path: circle(100% at 50% 50%);
} */