@import 'list-selector-modal-common';

// Place any CSS rules you want to apply only on IOS here
// Custom styles
.modal-input {
    height: 100%;
    padding-top: 20;

    &__list {
        border-top-width: const(border-width);
        @include colorize($border-color: background-alt-20);

        &-item {
            border-bottom-width: const(border-width);
            @include colorize(
                $background-color: background,
                $border-color: background-alt-20
            );
        }

        &-check {
            @include colorize($color: accent);
        }
    }
}
