/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/

@import '~nativescript-theme-core/css/core.light.css';

.tab-view {
    selected-tab-text-color: #ed3f40;
    android-selected-tab-highlight-color: #ed3f40;
}

.p-b-7 {
    padding-bottom: 7;
}

.align-top {
    vertical-align: top;
}

.t-24 {
    font-size: 24;
}

.t-42 {
    font-size: 42;
}

.fa {
    font-family: "FontAwesome";
}

.btn-margin {
    margin: 0 5 0 5;
}