@import 'app.component';

// Place any CSS rules you want to apply only on IOS here
TabStripItem Label {
    color: $blue-dark;
}

TabStripItem:active Label {
    color: $item-active-color;
}

TabStripItem Image {
    color: $blue-dark;
}

TabStripItem:active Image {
    color: $item-active-color;
}
